html {
    height: 100%;
}
body {
    background-size: cover;
    background: url("https://images.unsplash.com/photo-1461749280684-dccba630e2f6?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb") center;
}
html {
    height: 100%;
}
#mainTitle {
    color: #e1e1e1;
    text-align: center;
    padding-top: 25%;
    /*position: relative;*/
    /*top: 50%;*/
    /*left: 50%;*/
}
#coName {
    /*font-size: 6rem;*/
    font-size: 8vw;
    /*font-weight: 400;*/
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1), 0 18px 23px rgba(0, 0, 0, 0.4);
    font-family: 'Archivo Black', sans-serif;
}
#tagLine {
    /*font-size: 5rem;*/
    font-size: 5vw;
    /*width: 20%;*/
    /*padding-left: 25%;*/
    /*width: auto;*/
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1), 0 18px 23px rgba(0, 0, 0, 0.4);
    /*margin: 10px auto;*/
    font-family: 'Inconsolata', monospace;
}
.navbar-brand {
    font-weight: 700;
}
